{% extends 'base.html.twig' %}

{% block title %}Connexion - CRM3000{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
<div class="container-login">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <div class="container-header">
            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
        </div>
        <div class="container-body">
            <div class="container-label-input">
                <label class="label-form" for="inputEmail">Email</label>
                <input class="regular-input-form" placeholder="ex: votreemail@gmail.com" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            </div>
            <div class="container-label-input">
                <label class="label-form" for="inputPassword">Mot de passe</label>
                <input class="regular-input-form" placeholder="ex: 1ab2c3d4" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
            <div class="container-submit-button">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit">Connexion</button>
            </div>
        </div>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
    </form>
</div>
    {{ encore_entry_script_tags('login') }}
{% endblock %}
