{{ form_start(form) }}
    <div class="label-form">{{ form_label(form.firstname, "Prénom: ") }}</div>
    <div class="container-input-form">{{ form_widget(form.firstname, {'attr': {'class': 'regular-input-form'}}) }}</div>

    <div class="label-form">{{ form_label(form.lastname, "Nom: ") }}</div>
    <div class="container-input-form">{{ form_widget(form.lastname, {'attr': {'class': 'regular-input-form'}}) }}</div>

    <div class="label-form">{{ form_label(form.email, "Email: ") }}</div>
    <div class="container-input-form">{{ form_widget(form.email, {'attr': {'class': 'regular-input-form'}}) }}</div>

    <button class="blue-button regular-button">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
