{% extends 'base.html.twig' %}

{% block title %}Modification customer - CRM3000{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('customerModify') }}
{% endblock %}

{% block body %}
    <div class="container-society-modify">
        <div class="container-header">
            <h1>Modifier le customer {{ customer.firstname }} {{ customer.lastname }}</h1>
        </div>
        <div class="container-body">
            {{ include('customer/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            {{ include('customer/_delete_form.html.twig') }}
            <a class="regular-button blue-button" href="{{ app.request.headers.get('referer') }}">Retour</a>
        </div>
    </div>
    {{ encore_entry_script_tags('customerModify') }}
{% endblock %}

