{% extends 'base.html.twig' %}

{% block title %}Customer {{ customer.firstname }} {{ customer.lastname }}{% endblock %}

{% block body %}
    <h1>Customer {{ customer.firstname }} {{ customer.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ customer.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ customer.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ customer.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>A répondu</th>
                <td>{{ customer.hasAnswered ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>A consommé</th>
                <td>{{ customer.hasConsumed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date création</th>
                <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="" href="{{ app.request.headers.get('referer') }}">Retour</a>

    <a href="{{ path('customer_edit', {'id': customer.id}) }}">Modifier</a>

    {{ include('customer/_delete_form.html.twig') }}
{% endblock %}
