{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('dashboardAdmin') }}
{% endblock %}

{% block title %}Inteface administrateur - CRM3000{% endblock %}

{% block body %}
<div class="container-dashboard-admin">
    <div class="container-header">
        <h1>Interface Admin</h1>
    </div>

    <div class="container-body">
        <a class="regular-button blue-button" href="{{ path('home_index') }}">Page d'accueil</a>
        <a class="regular-button blue-button" href="{{ path('society_index') }}">Gérer les sociétés</a>
        <a class="regular-button blue-button" href="{{ path('item_index') }}">Gérer les produits de sociétés</a>
        <a class="regular-button blue-button" href="{{ path('admin_user_index') }}">Gérer les utilisateurs</a>
        <a class="regular-button blue-button" href="{{ path('customer_index') }}">Gérer les customers</a>
    </div>
</div>
    {{ encore_entry_script_tags('dashboardAdmin') }}
{% endblock %}
