{% extends 'base.html.twig' %}

{% block title %}Contact le customer {{ customer.firstname }} {{ customer.lastname }} - CRM3000{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contactCustomer') }}
{% endblock %}

{% block body %}
<div class="container-society-modify">
    <div class="container-header">
        <h1>Contacter le customer {{ customer.firstname }} {{ customer.lastname }}</h1>
    </div>
    <div class="container-body">
        {{ form_start(form) }}
            <div>
                <div class="label-form">{{ form_label(form.from, "Votre email: ") }}</div>
                <div class="container-input-form">{{ form_widget(form.from,{'attr': {'class': 'regular-input-form', value : app.user.email}}) }}</div>
            </div>
            <div>
                <div class="label-form">{{ form_label(form.to, "Email du contact: ") }}</div>
                <div class="container-input-form">{{ form_widget(form.to, {'attr': {'class': 'regular-input-form', value : customer.email}}) }}</div>
            </div>
            <div>
                <div class="label-form">{{ form_label(form.subject, "Sujet")}}</div>
                <div class="container-input-form">{{ form_widget(form.subject, {'attr': {'class': 'regular-input-form'}}) }}</div>
            </div>
            <div>
                <div class="label-form">{{ form_label(form.message, "Message")}}</div>
                <div class="container-input-form">{{ form_widget(form.message, {'attr': {'class': 'regular-input-form'}}) }}</div>
            </div>
            <button class="blue-button regular-button">{{ button_label|default('Envoyer') }}</button>
        {{ form_end(form) }}
        <a class="regular-button blue-button" href="{{ path('customer_index') }}">Retour</a>
    </div>
</div>
    {{ encore_entry_script_tags('contactCustomer') }}
{% endblock %}