{% extends 'base.html.twig' %}

{% block title %}Gestion des produits de société - CRM3000{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('itemIndex') }}
{% endblock %}

{% block body %}
<div class="container-item-index">
    <div class="container-header">
        <h1>Gestion des produits de société</h1>
    </div>
    <div class="container-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Chiffre d'affaire</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.salesTurnover }}</td>
                    <td>
                        <a class="form-action-button" href="{{ path('item_show', {'id': item.id}) }}">Afficher</a>
                        <a class="form-action-button" href="{{ path('item_edit', {'id': item.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucun produit</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="regular-button blue-button" href="{{ path('item_new') }}">Créer un produit</a>
        <a class="regular-button blue-button" href="{{ path('admin_dashboard_index') }}">Retour au dashboard</a>
    </div>
</div>

    {{ encore_entry_script_tags('itemIndex') }}
{% endblock %}
