{{ form_start(form) }}
    <div class="label-form">{{ form_label(form.email, "Email: ") }}</div>
    <div class="container-input-form">{{ form_widget(form.email, {'attr': {'class': 'regular-input-form'}}) }}</div>

    <div class="label-form">{{ form_label(form.plainPassword.first, "Mot de passe: ") }}</div>
    <div class="container-input-form">{{ form_widget(form.plainPassword.first, {'attr': {'class': 'regular-input-form'}}) }}</div>

    <div class="label-form">{{ form_label(form.plainPassword.second, "Confirmer mot de passe: ") }}</div>
    <div class="container-input-form">{{ form_widget(form.plainPassword.second, {'attr': {'class': 'regular-input-form'}}) }}</div>

    <button class="blue-button regular-button">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
