{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('adminUserChangePassword') }}
{% endblock %}

{% block body %}
    <div class="container-society-modify">
        <div class="container-header">
            <h1>Modifier le mot de passe</h1>
        </div>
        <div class="container-body">
            {{ form_start(form) }}
            <div>
                <div>
                    <div class="label-form">{{ form_label(form.oldPassword, "Indiquer l'ancien mot de passe: ") }}</div>
                    <div class="container-input-form">{{ form_widget(form.oldPassword, {'attr': {'class': 'regular-input-form'}}) }}</div>
                    <div>{{ form_errors(form.oldPassword) }}</div>
                </div>
                <div>
                    <div class="label-form">{{ form_label(form.plainPassword.first, "Nouveau mot de passe: ") }}</div>
                    <div class="container-input-form">{{ form_widget(form.plainPassword.first, {'attr': {'class': 'regular-input-form'}}) }}</div>
                    <div>{{ form_errors(form.plainPassword.first) }}</div>
                </div>
                <div>
                    <div class="label-form">{{ form_label(form.plainPassword.second, "Confirmer votre mot de passe: ") }}</div>
                    <div class="container-input-form">{{ form_widget(form.plainPassword.second, {'attr': {'class': 'regular-input-form'}}) }}</div>
                    <div>{{ form_errors(form.plainPassword.second) }}</div>
                </div>               
                <div>
                    <div>
                        <button class="regular-button blue-button">{{ button_label|default('Mettre à jour') }}</button>
                    </div>
                    <div>
                        <a class="regular-button blue-button" href="{{ path('user_edit', {id: user.id}) }}">Retour</a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('adminUserChangePassword') }}
{% endblock %}
