{% extends "base.html.twig" %}

{% block body %}
<h1>Modifier le mot de passe</h1>
<div>
    {{ form_start(form) }}
    <div>
        <div>
            <div>{{ form_label(form.oldPassword, "Indiquer l'ancien mot de passe: ") }}</div>
            <div>{{ form_widget(form.oldPassword) }}</div>
            <div>{{ form_errors(form.oldPassword) }}</div>
        </div>
        <div>
            <div>{{ form_label(form.plainPassword.first, "Nouveau mot de passe: ") }}</div>
            <div>{{ form_widget(form.plainPassword.first) }}</div>
            <div>{{ form_errors(form.plainPassword.first) }}</div>
        </div>
        <div>
            <div>{{ form_label(form.plainPassword.second, "Confirmer votre mot de passe: ") }}</div>
            <div>{{ form_widget(form.plainPassword.second) }}</div>
            <div>{{ form_errors(form.plainPassword.second) }}</div>
        </div>               
        <div>
            <div>
                <button>{{ button_label|default('Mettre à jour') }}</button>
            </div>
            <div>
                <a href="{{ path('admin_user_index', {id: user.id}) }}">Retour</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
