{% extends "base.html.twig" %}

{% block title %}Modifier la société de l'utilisateur{% endblock %}

{% block body %}
    <div class="container-society-modify">
        <div class="container-header">
            <h1>Modification de la société de l'utilisateur</h1>
        </div>
        <div class="container-body">
            {{ form_start(form) }}
                <div class="label-form">{{ form_label(form.society, "Société: ") }}</div>
                <div class="container-input-form">{{ form_widget(form.society, {'attr': {'class': 'regular-input-form'}}) }}</div>
                <button class="regular-button blue-button">{{ button_label|default('Sauvegarder') }}</button>
                <a class="regular-button blue-button" href="{{ path('user_edit', {id: user.id}) }}">Retour</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
